<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Pragya Vashishtha">
    <meta name="description" content="Webshop Website of Pragya Vashishtha, a postgraduate student of Interactive Digital Media at Trinity College Dublin.">
    <meta name="keywords" content="IDM, TCD,Design, webshop, art, paintings">
    <title>Pragya Vashishtha</title>
    <link rel="stylesheet" type="text/css" href="/style/stylesheet.css" />
</head>

<!-- header -->
<body class="body-text">
    <div id="container">
        <span id="title"> <a  href="/">Pragya's Shop</a> </span>
        <!-- <span> <a class="navigation_page_names" href="contact.html">Contact</a> </span>-->
        <span> <a class="navigation_page_names" href="/about">About</a> </span> 
        <span> <a class="navigation_page_names" href="/products">Products</a> </span>
    </div>

 <!-- page content -->
    <div id="content">
        <p class="big-text">PRODUCTS</p>
        <% for(var key in prod) { %>
            <div class="card">
                <a href="/products/<%= prod[key].id %>">
                    <img class="prod" src="<%= prod[key].image %>" alt="<%= prod[key].altText %>">
                    <div class="container">
                        <h4><b>Product ID: <%= prod[key].id %> </b></h4>
                        <h4><b>Title: <%= prod[key].title %></b></h4> 
                        <p>Click to view</p>
                    </div>
                </a>
            </div>
        <% } %>
    </div>

        <!-- footer -->
    <div id="footer">
        <p>Follow me on: <a  href="https://www.linkedin.com/in/pragya-vashishtha-81ba20a7/" target="_blank"><img class="icons" src="images/linkedin.svg" alt="Linkedin icon image"></a> 
                         <a  href="https://www.behance.net/pragyavash" target="_blank"><img class="icons" src="images/behance.svg" alt="Behance icon image"> </a></p>
    </div>
                                
</body>
</html>