<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="Author" content="Pragya Vashishtha">
        <meta name="description"
            content="Photobomb is a image sharing website created by Pragya Vashishtha, a postgraduate student of Interactive Digital Media at Trinity College Dublin.">
        <meta name="keywords" content="IDM, TCD,Design, webshop, art, paintings, image sharing">
        <title>Profile | Photobomb</title>
        <!-- Bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style/stylesheet.css" />
          <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <!-- Bootstrap js for some styles-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    </head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Photobomb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <!-- blah -->
                    <li class="text-success">| Profile |</li>
                </ul>
                <form action="/discover" method="GET">
                    <button class="btn btn-success my-2 my-sm-0 mx-2 " type="submit">Discover</button>
                </form>
                <form action="/logout" method="GET">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </nav>
    </header>
    <main class="container mt-5">
        <div class="col-lg-4 mt-5">
            <img class="rounded-circle" src="/images/cat1.png" alt="Generic placeholder image" width="140" height="140">
            <!-- username: Welcome, <%= uname %>! -->
            <h2><%= fname %>  <%= lname %></h2>
            <p><%= add %></p>
            <p> <%= bio %></p>
            <p><a class="btn btn-outline-success my-2 my-sm-0" href="upload.html" role="button">Upload Image &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
    </main>
 <!-- FOOTER -->
 <footer class="container fixed-bottom" >
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2020-2021 Photobomb, Inc. &middot; <a href="/about">About</a> &middot; <a href="#">Terms</a></p>
</footer>
</body>
</html>